language: ruby
before_install:
- gem install asciidoctor tilt
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- asciidoctor -a toc,version=$VERSION -b xhtml5 -T ./asciidoctor-htmlbook/htmlbook-autogen/
  -d book book.asciidoc -o book.html
- git clone https://github.com/gitenberg-dev/HTMLBook
- xsltproc -stringparam external.assets.list " " ./HTMLBook/htmlbook-xsl/epub.xsl
  book.html
- cp ./HTMLBook/stylesheets/epub/epub.css OEBPS
- cp cover.jpg OEBPS/cover.jpg
- if test -d "./images"; then mv ./images ./OEBPS/ ;fi
- zip -rX book.epub mimetype
- zip -rX book.epub OEBPS/ META-INF/
- if test -d "OEBPS/images/"; then zip -rX book.epub OEBPS/images/ ;fi
- mv book.epub Jane-Eyre-An-Autobiography.epub
branches:
  only:
  - master
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: BN8EmwDzpsaYlm24o3aFGPax51ceSvGF8KyluHlVNGZkAdP2r/xKQo4R/d4gEZuD4sCbqDmbPaa3cNktF28efLOcO09EBpY5B9/HtQybDhLZVXwx6e8QEYwkzNdTFoz1Ul2PkFwHeX1h9qiOlAyIOcYOj7666uAgcLl9KTh5wrAE0f0CboVFe6aWxf3vopwZdWaPweYv5ZR9Hfu9XDkinrsabjg+Nzc6sBRg0V9LqErJyHJuif7wI1irzDbVjIr8oVq4NrfyYlvt3afJw2doUXcAbA+DS5ORUiz+wuikqAx2OUTTKw8zu38kGB6OjPrV1fa+gcpE6V1TysT8VWeWn3Cx5RsPc4SUQJkN/d+mL/8b8j0uo49LfZvOwzAN/JVOwCTiZvvWyVnVbuPxrBWN++lVZ6y6AzmoeiJwE/5a7sHC3GFChnfdyb1LFeAa69PPo+1lTfnjUiTSuCG6DiZFqhKO481YnpX3JzPO8i/Sqjy2UlUhDAse1owuALRt+Y2ShYWzLy8Aw52Z+TagLowKsBZq45ooYFb9VUb6hKpbXjYaUeeAcxI5eIBjR9dfTE9lnchp7yPbxzDRFmQdPNst2hxvH+dl0YYfOPqc9luoeFmg815KH+ZVToXH42dx5goLtBuPXl2kSLwK/EdlmVHycSdA8Z/XWD95S3L+pHsE2HE=
  file: Jane-Eyre-An-Autobiography.epub
  on:
    repo: GITenberg/Jane-Eyre_1260
addons:
  apt:
    packages:
    - xsltproc
